@import '../fonts/montserrat/montserrat.css';
@import '../fonts/quicksand/quicksand.css';
@import './utils/libs';

html {
  box-sizing: border-box;
  height: 100%;
  color: $mainColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body,
html {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
.h1 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

h2,
.h2 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

h3,
.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

h4,
.h4 {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $mainColor;
}

a {
  color: $mainColor50;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover,
  &:active,
  &:focus {
    color: $purple;
  }
}

p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;

  &.wrapper-ui-kit {
    max-width: 1460px;
  }
}

.mobile-href {
  pointer-events: none;
}

@keyframes showOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "../../components/srs-range/srs-range";
@import "../../index";