extends ./layouts/page
block vars
  -
    const title = 'Srs range slider'
    pageSelector = 'srs-page'


block content
  .wrapper
    h1 Srs range slider

    .srs-page__wrap
      .srs-page__item.srs-page--left
        h2 View

        .range-slider.range-slider__1
        .range-slider.range-slider__2
        .range-slider.range-slider__3
        .range-slider.range-slider__4

      .srs-page__item.srs-page--right
        h2 Controller Interface

        .srs-page__controlls